:root{
	font-size: 62.5%;
}

body{
	background-color: #24261E;
	font-family: roboto, sans-serif;
	color: white;
	margin: 0;
}

*{
	outline: dotted 1px red;
}

a{
	text-decoration: none;
}

nav{
	float: left;
	font-size: 1.2rem;
	margin: auto auto auto 3rem;
}

nav li{
	display: inline-block;
	text-align: center;
	margin: .5rem;
}

nav li a{
	display: block;
	padding: .5rem;
	color: white;
	text-transform: uppercase;
}

nav li a:hover{
	color: #CCCACA;
}

header{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	background-color: transparent;
	overflow: auto;
	padding: 1.5rem;	
}

header h1{
	float: left;
	font-weight: bold;
	padding-left: 7rem;
	background-repeat: no-repeat;
	background-position: center left;
	background-image: url("../img/favicon2.png");
	background-repeat: no-repeat;	
	background-size: contain;
	font-family: "Krona One", helvetica, sans-serif;
	font-size: 4rem;
	text-transform: uppercase;
	height: 50px;
	letter-spacing: .5rem;
}

#redes{
	width: 40px;
	float: left;
	display: inline-block;
	padding: 1rem;
	margin-top: 12rem;
}

#fb{
	background-image: url("../icon/facebook-logo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-bottom: 4rem;
	display: block;
	height: 24px;
}

#yt{
	background-image: url("../icon/youtube-logo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-bottom: 4rem;
	display: block;
	height: 24px;
}

#tw{
	background-image: url("../icon/twitter-logo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-bottom: 4rem;
	display: block;
	height: 24px;
}

#ig{
	background-image: url("../icon/instagram-logo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-bottom: 4rem;
	display: block;
	height: 24px;
}

#info{
	font-size: 4rem;
	display: inline-block;
	margin-left: 1rem;
	padding: .5rem;
	width: 32%;
	text-align: center;
}

#info h2{
	font-size: 6rem;
	font-weight: bold;
	letter-spacing: .2rem;
	padding: 3rem auto;
	line-height: 130%;
	text-align: left;
}

#info p{
	font-size: 2rem;
	padding: 1.5rem;
	display: inline-block;
}

#info #texto{
	text-align: left;
	line-height: 130%;
}


h3{
	font-size: 2rem;
	color: white;
	text-align: left;
	text-transform: uppercase;
	padding: 1rem;
}

.grid-container {
  	display: grid;
 	grid-gap: 1rem;
  	grid-template-columns: auto auto auto;
  	color: black;
  	padding: 1rem;
  	font-size: 2rem;
  	text-transform: uppercase;
}

.grid-item {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 1rem 2rem;
  	text-align: center;
  	background-color: #CCCACA;
}

.grid-item:hover{
	color: white;
	background-color: #A2CA56;
}

.sup{
	font-size: 1.8rem;
	text-transform: lowercase;
	font-weight: normal;
	padding: 1rem 2rem;
	background-color: #f8f8f8;
}

.sup span{
	font-size: 5rem;
	font-weight: bold;
}

h4{
	display: block;
	font-weight: bold;
	font-size: 3.5rem;
	text-align: left;
	padding-left: 1rem;
	margin: 2rem auto 1rem auto;
}

#sub{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	font-size: 1.2rem;
	margin-top: 2rem;
	padding: 0;
}

#visit{
	display: inline-block;
	color: #24261E;
	background-color: #CCCACA;
	width: 50%;
	vertical-align: bottom;
}

#visit p{
	font-size: 1.5rem;
	padding: 2rem 1rem 5rem 1rem;
	line-height: 130%;
}

#galery{
	width: 20%;
	color: black;
	background-color: white;
	text-align: center;
}

#imagenes{
  	display: grid;
 	grid-gap: 1rem;
  	padding: 1rem;
  	grid-template-columns: auto auto auto;
}

#help{
	display: inline-block;
	color: #F8F8F8;
	background-color: #A2CA56;
	width: 30%;
	vertical-align: bottom;
}

#help p{
	font-size: 1.5rem;
	padding: 2rem 1rem 4rem 1rem;
	line-height: 130%;
}

#imagenes img{
  	width: 70px;
}

footer{
	display: block;
	font-size: 1rem;
	padding: 1rem;
}